h1{
    font-family: Calibri, "Open Sans", "Helvetica Neue", Arial, sans-serif;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/bgimage.png');
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.App {
    height: 100vh;
    width: 100vw;
}
